.category {
  margin-bottom: 3rem;
  &-title {
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
