@import "./media";
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include Responsive(SM) {
    max-width: 540px;
  }
  @include Responsive(MD) {
    max-width: 720px;
  }
  @include Responsive(L) {
    max-width: 1140px;
  }
  @include Responsive(XL) {
    max-width: 1320px;
  }
}
